    * {
        margin: 0;
        padding: 0;
        font-family: var(--font-family);
    }

    .hero-text {
        display: grid;
        justify-content: center;
        /* background-color: aquamarine; */
        margin-top: 5rem;
    }

    .hero-text h2 {
        padding-left: 20rem;
        font-size: 2.1875rem;
    }

    .hero-text h1 {
        font-size: 4.375rem;
        padding-bottom: 3rem;
    }

    .hero-text h4 {
        font-weight: 400;
        padding-left: 17rem;
        font-size: 1.5rem;
    }

    .homepage-department {
        margin-top: 4rem;
        display: flexbox;
        justify-content: center;
        text-align: center;
    }

    .homepage-department h3 {

        color: var(--color-mini-text);
        font-weight: lighter;
    }

    .dept-buttons {
        display: flex;
        justify-content: center;
        padding: 2rem;
    }

    .dept-buttons button {
        background-color: var(--color-button);
        padding: 20px;
        margin-left: 10px;
        border-radius: 5px;
        border: none;
        color: white;
    }