* {
    padding: 0;
    margin: 0;
}

.login-container{
    display: flex;
    margin: 3rem 20rem 0rem 15rem; /*top right bottom left */
    border: solid;
    border-radius: 10px;
}

.login-image-container{
    height: 30rem;
    width: 30rem;
    overflow: hidden;
}

.login-image-container img{
    height: 100%;
    width:100%;
    object-fit: cover;
    border-radius: 5px 0px 0px 5px;
}

.login-text-container{
    /* border: dashed grey; */
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
    width: 50%;
}

.login-text-container h2{
    margin-top: 3px;
    text-align: center;
}
.login-email-container{
    /* border:  solid blue; */
    padding: 1rem 0rem 0.5rem 2rem;
    
}

.login-email-container input{
    padding: 15px 175px 15px 10px;
    margin: 5px 5px 0px 0px;
    border-radius: 10px;
}

.login-password-container{
    /* border: solid pink; */
    padding: 1rem 0rem 1rem 2rem;

}

.login-password-container input{
    padding: 15px 175px 15px 10px;
    margin: 5px 5px 11px 0px;
    border-radius: 10px;
    
}

.login-password-container p{
    color: var(--color-button);
}

.login-button-container{
    /* border: solid yellow;    */
    overflow: hidden;
    padding: 20px 150px 10px 100px;
    text-align: center;
    
}

.login-other-container{
    /* border: solid green; */
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    gap:10px;    
}

.login-button {
    background-color: var(--color-button);
    padding: 10px 85px 10px 85px;
    /* height: 100%;
    width: 100%; */
    border-radius: 5px;
    border: none;
    color: white;
    text-align: center;
}

.login-icons{
    display: flex;
    flex-direction: row;
    gap:10px;
    text-align: center;
    justify-content: center;
}

.login-suggestion-text{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    cursor:alias;
}

.login-suggestion-text p{
    font-weight: lighter;
}

.login-suggestion-text h4{
    color:var(--color-button);
}

.login-ther-container h2{
    font-size: small;
}

.login-icons{
    display: flex;
    flex-direction: row;
    font-size: 30px;
    box-shadow: inset;
}

hr{
    width: 75%;
    margin-left: 50px;
}


